.suchilischa__photo {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  @media (max-width: 700px){
    .suchilischa__photo {
      padding-top: 56px;
    }
  }

  @media (max-width: 500px){
    .suchilischa__photo {
      padding-top: 38px;
    }
  }