.social__subtitle {
  font-family: 'PPNeueMachina';
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01em;
  margin: 0;
}

@media (max-width: 414px) {
  .social__subtitle { grid-area: subtitle; }
}
