.suchilischa__date {
    margin: 212px 0 16px;
    padding: 0 0 0 4px;
    font-size: 28px;
    line-height: 1.143;
    letter-spacing: -0.01em;
  }

  @media (max-width: 1000px){
    .suchilischa__date {
      margin-top: 100px;
    }
}

@media (max-width: 700px){
  .suchilischa__date {
    margin-top: 100px;
    margin-bottom: 30px;
  }
}

@media (max-width: 500px){
  .suchilischa__date {
    margin-top: 30px;
    margin-bottom: 16px;
  }
}