.social__link {
  text-decoration: none;
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  display: block;
  border:none;
  padding: 0;
  background: transparent;
  text-align: left;
  cursor: pointer;
}

.social__link:hover {
  color: #ECEBE8;
}