.header__support-link {
  display: flex;
  gap: 6px;
  text-decoration: none;
  align-items: center;
  padding-bottom: 8px;
}

.header__support-link:active {
  transform: scale(1.05);
}

@media screen and (max-width: 767px) {
  .header__support-link {
    display: none;
  }
}
